.flex-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  padding: 0px;
  top: 0px;
  width: 100%;
  height: 65px;
  background-color: coral;
  z-index: 1;
}

.header-content {
  max-width: 18%;
  margin-top: 5px;
}

p {
  margin: 0px;
}